.bootstrap-widget{
    box-shadow: 0 0 60px ;
}
.breadcrumb {
    box-shadow: 0 0 60px;
}
.block-main {
    margin: 10px 25px;
}
.noty_cont.noty_layout_topRight li{
    box-shadow: 0 0 50px;
}
.table th.text-center, .table td.text-center{
    text-align: center;
}
.move_zone{
    cursor: move;
    display: inline-block;
    width: 23px;
    margin-left: 0;
    vertical-align: middle;
    margin-top: 4px;
}
.ui-sortable-helper td{
    border-radius: 0px !important;
    background: #EBEBEB !important;
}
.ui-sortable-placeholder{
    background: orange !important;
    visibility: visible;
}
select.input-medium{
    width: 164px;
}
.table-check-column{
    width: 66px;
}
.table-action-column{
    /*text-align: right !important;*/
    padding-right: 25px !important;
}
.id-column{
    font-weight: bold;
}
.show-btn-panel{
    margin: 0 0 20px 0 ;
}
#footer{
    margin-top: 25px;
}
/*.navbar>.navbar-inner>.container>.nav-collapse>.nav>li>a{*/
.navbar>.navbar-inner>.container>.nav>li>a{
    color: #DDD !important;
    text-shadow: 0px 1px 1px black !important;
    display: inline-block;
    padding: 11px 20px;
    margin-top: 0px;
    margin-left: 0px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    background: transparent;
    border-left: 1px solid #0A0C0E;
    border-right: 1px solid #212121;
    border-top: 0px solid #BBB;
    border-bottom: 0px solid #BBB;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
    color: #555;
    background-color: black !important;
    outline: 0;
}
.tab-content{
    padding-top: 5px;
}
.description-text-area{
    width: 600px;
    height: 125px;
}
.template-download img{
    width: 80px;
}
.table-images td{
    vertical-align: middle !important;
}
.search-form{
    text-align: right;
}
/*===========ajax loading animation begin========================*/
.cms-ajax-loader{
    height: 30px;
    line-height: 30px;
    padding: 0 20px;
    position: fixed;
    top: 0;
    margin-top: -35px;
    left:50%;
    color: white;
    -webkit-transition-property: margin;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease;
    box-shadow:  0 0 3px rgba(0,0,0,0.5);
    z-index: 99999;
    border-radius: 0 0 5px 5px;
}
.cms-ajax-loader-show{
    margin-top: 0px;
}

/*====================ajax loading animation end=================================*/
.sortable-table td{
    vertical-align: middle !important;
}
th{
    padding: 15px 0 !important;
}
.align-right{
    text-align: right !important;
}
.login-box .icons{
    height: 35px;
    background: url("/admin/images/strowlogo_ico.png") no-repeat left top;
}
.button-column{
    width: auto !important;
}
/*auth module begin*/
.auth-module .span6 ,.auth-module .span5{
    margin-left: 30px !important;
}
.auth-module h1{
    font-size: 30px;
}
.auth-module h1 small{
    font-size: 16px;
}
.auth-module h3{
    font-size: 22px;
}
.auth-module th{
    padding: 4px 5px !important;
}

/*auth module end*/
.filter{
    width: 100% !important;
    margin-bottom: 0 !important;
}
.filter-container{
    padding: 0 15px 0 0;
    font-size: 12px !important;
}
table{
    font-size: 13px !important;
}
.filter-container label,.filter-container input,.filter-container button,.filter-container select,.filter-container textarea{
    font-size: 13px !important;
}
 table input[type="text"], table input[type="password"], table input[type="datetime"], table input[type="datetime-local"], table input[type="date"], table input[type="month"], table input[type="time"], table input[type="week"], table input[type="number"], table input[type="email"], table input[type="url"], table input[type="search"], table input[type="tel"], table input[type="color"], table .uneditable-input {
    height: 17px !important;
    margin-bottom: 0;
}
table select{
    height: 27px !important;
}
table .btn{
    padding: 4px 8px !important;
}

.ui_tpicker_hour_slider,.ui_tpicker_minute_slider  {
    border: 1px solid #C9C9C9 !important;
    height: 6px !important;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    border-radius: 4px !important;
    -webkit-box-shadow: 0 1px 0 #ffffff !important;
    -moz-box-shadow: 0 1px 0 #ffffff !important;
    box-shadow: 0 1px 0 #ffffff !important;
    position: relative !important;
    margin: 8px 0 !important;
    background: #fcfcfc !important;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+) !important;
    background: -moz-linear-gradient(top, #fcfcfc 0%, #f2f2f2 100%) !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#f2f2f2)) !important;
    background: -webkit-linear-gradient(top, #fcfcfc 0%,#f2f2f2 100%) !important;
    background: -o-linear-gradient(top, #fcfcfc 0%,#f2f2f2 100%) !important;
    background: -ms-linear-gradient(top, #fcfcfc 0%,#f2f2f2 100%) !important;
    background: linear-gradient(to bottom, #fcfcfc 0%,#f2f2f2 100%) !important;
}
.ui-widget{
    font-size: 1em !important;
}
.main-menu a.active{
    color: white;
}
.actions-box{
    margin: 25px 0;
}
.action-btn{
    float: right;
}